body {
  position: relative;
  max-width: 1440px;
  min-height: 6366px;
  background: #FFFFFF;
  padding: 0;
  margin: 0;
}

.header__nav {
  height: 56px;
  max-width: 1440px;
  display: flex;
  margin-top: 8px;
}
.header__nav-item {
  margin-left: 174px;
}
.header__nav-item ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  max-width: 423px;
  padding-left: 0;
}
.header__nav-item li {
  padding-right: 28px;
}
.header__nav-item li:last-child {
  padding-right: 0;
}
.header__nav-img {
  height: 25px;
  width: 80px;
  margin-left: 83px;
}
.header__nav-icons {
  max-height: 25px;
  width: 492px;
  display: flex;
  justify-content: flex-end;
}
.header__nav-icons-inst {
  width: 15px;
  height: 25px;
}

.header__main {
  min-height: 554px;
  background: #F0EFEB;
  border-radius: 0px;
  display: flex;
  padding-left: 164px;
}
.header__main-img {
  width: 599px;
  height: 521px;
  top: 9px;
  margin-right: 73px;
  background-size: cover;
}
.header__main-text {
  height: 374.19px;
  margin-top: 90px;
}
.header__main-text_title {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 60px;
  line-height: 70px;
  color: #000000;
  height: 140px;
  width: 544px;
}
.header__main-text_title-bottom {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  color: #000000;
  margin-top: 4px;
}
.header__main-text-descr {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  max-width: 481px;
  max-height: 56px;
  margin-top: 42px;
  margin-bottom: 0;
}

.header__btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #FFFFFF;
  background: #000000;
  border: 1px solid #000000;
  border-radius: 100px;
  margin-top: 26px;
  cursor: pointer;
}

.sellers {
  height: 1183.77px;
  width: 1280px;
}

.sellers__item {
  display: flex;
  max-height: 729.27px;
  width: 1064px;
}

.sellers__inf {
  height: 208.5px;
  width: 1064px;
}
.sellers__inf-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #000000;
  width: 692px;
  margin: 59.81px 374px 26.69px;
}
.sellers__inf-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  width: 632px;
  height: 69px;
  color: #000000;
  margin-left: 404px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.sellers__inf-descr {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #000000;
  width: 371px;
  height: 23px;
  margin: 47px 534px 0 535px;
}

.sellers__item {
  height: 729.27px;
  width: 1064px;
  margin-top: 51.69px;
  margin-left: 188px;
}

.sellers__best-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #000000;
  width: 256px;
  height: 42px;
  margin: 87.31px 592px 51.69px;
}

.sellers__best {
  height: 584.27px;
  width: 584.27px;
}
.sellers__best-photo {
  width: 309px;
  height: 422px;
}
.sellers__best-descr {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  width: 156px;
  height: 60px;
  margin: 27px 79.66px 17px 79px;
}
.sellers__best-price {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  width: 73px;
  height: 20px;
  margin: 0px 120.66px 4px 121px;
}
.sellers__best-link {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  text-decoration-line: underline;
  color: #000000;
  margin: 14.05px 112px 149.95px 117px;
}

.main__wrapper {
  display: flex;
  min-height: 652px;
  background: rgba(204, 204, 204, 0.3);
  border-radius: 0px;
}
.main__wrapper-left {
  display: flex;
  min-height: 652px;
  background: rgba(204, 204, 204, 0.6);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  padding-left: 88px;
  padding-top: 104.7px;
}
.main__wrapper-inf {
  height: 510.88px;
  width: 532px;
  margin-left: 50px;
}
.main__wrapper-inf-left {
  height: 467.875px;
  width: 532px;
}
.main__wrapper-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  height: 42px;
  width: 314px;
  margin: 146px 503px 0 0;
}
.main__wrapper-title-left {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: right;
  color: #000000;
  height: 42px;
  width: 347px;
  margin-top: 91.92px;
  margin-left: 185px;
  margin-bottom: 31px;
}
.main__wrapper-img {
  height: 525px;
  width: 385px;
  margin-left: 188px;
  margin-top: 76px;
}
.main__wrapper-img-left {
  height: 525px;
  width: 385px;
  margin-left: 50px;
  margin-right: 188px;
}
.main__wrapper-descr {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  height: 252px;
  margin-top: 31px;
}
.main__wrapper-descr-left {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-align: right;
  color: #000000;
  width: 513px;
  height: 252px;
  margin-left: 19px;
  margin-right: 50px;
}
.main__wrapper-link {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #000000;
  cursor: pointer;
}
.main__wrapper-link-left {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #000000;
  cursor: pointer;
  margin-left: 363px;
  margin-top: 31px;
}

.unique__title {
  width: 449px;
  height: 42px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #000000;
  margin-left: 496px;
  margin-top: 189.67px;
}

.unique__title2 {
  width: 449px;
  height: 42px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #000000;
  margin-left: 496px;
}

.unique {
  min-height: 709px;
  width: 1280px;
  margin-left: 164px;
}
.unique__item {
  min-height: 167.5px;
  width: 338.65625px;
  margin-top: 69.37px;
  display: inline-block;
  margin-right: 24px;
}
.unique__item-circle {
  background: #21F7EC;
  height: 70px;
  width: 70px;
  border-radius: 35px;
  margin: 0.33px 134.66px 25px 134px;
}
.unique__item-descr {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #000000;
  max-height: 70px;
}

.unique__item-circle1 {
  background: #33D3BC;
  height: 70px;
  width: 70px;
  border-radius: 35px;
  margin: 0.33px 134.66px 26px 134px;
}

.unique__item-circle2 {
  background: #18A5C6;
  height: 70px;
  width: 70px;
  border-radius: 35px;
  margin: 0.33px 134.66px 26px 134px;
}

.unique__item-circle3 {
  background: #D38F62;
  height: 70px;
  width: 70px;
  border-radius: 35px;
  margin: 0.33px 134.66px 26px 134px;
}

.unique__item-circle4 {
  background: #F94C43;
  height: 70px;
  width: 70px;
  border-radius: 35px;
  margin: 0.33px 134.66px 26px 134px;
}

.unique__item-circle5 {
  background: #D399FF;
  height: 70px;
  width: 70px;
  border-radius: 35px;
  margin: 0.33px 134.66px 26px 134px;
}

.guide__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #000000;
  margin: 51.67px 367px 1px 368px;
  min-width: 705px;
  height: 42px;
}

.guide__title2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #000000;
  margin-left: 150px;
}

.guide {
  height: 803.5px;
  width: 1280px;
}
.guide__wrapper {
  height: 616.5px;
  width: 1164px;
  display: flex;
  margin-top: 102.33px;
}
.guide__item {
  height: 616.5px;
  width: 287.984375px;
  padding-left: 188px;
  margin-right: 100px;
}
.guide__item-img {
  height: 351px;
}
.guide__item-descr {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.6px;
  color: #000000;
  height: 78px;
  width: 248px;
  margin: 20px 20px 40px 19.98px;
}
.guide__item-name {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  text-align: center;
  color: #000000;
  height: 22px;
  margin-left: 1px;
  white-space: nowrap;
}

/*# sourceMappingURL=style.css.map */
